<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="root" />
        <var name="DB_NAME" value="db_test" />
        <var name="DB_PORT" value="3306" />
    </php>
</phpunit>