<?php
        
namespace App\Middlewares;

use SigmaPHP\Core\Router\BaseMiddleware;

class $middlewareName extends BaseMiddleware
{
    /**
     * Handle the incoming request.
     * 
     * @return mixed
     */
    public function handle()
    {
        //
    }
}